/*
$background-dark: #0a0845;
$yellow: #f4e96b;
$pink: #eb4e89;
$blue: #77d6e2;
*/

@import url(https://fonts.googleapis.com/css?family=Lato:300);

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #0a0845;
  padding: 4em 1em 1em;
}
header {
  height: 180px;
  position: relative;
}
.header__avatar {
  width: 160px;
  height: 160px;
  position: absolute;
  border-radius: 80px;
  top: 0;
  left: 50%;
  margin: 0 -80px;
  background-color: black;
  background-image: linear-gradient(to bottom, #f4e96b 0%, #eb4e89 100%);
}

.header__avatar.drop {
  animation-name: dropAvatar;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.6s;
}
@keyframes dropAvatar {
  /* start from top*/
  0% {
    transform: translateY(-400px);
  }
  /* drop down past 0 */
  55% {
    transform: translateY(20px);
    animation-timing-function: ease-out;
  }
  /* bounce up*/
  80% {
    transform: translateY(-50px);
    animation-timing-function: ease-out;
  }
  /*drop to 0*/
  100% {
    transform: translateY(0px);
  }
}

.header__avatar.spin {
  animation-name: spinAvatar;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.4s;
}

@keyframes spinAvatar {
  100% {
    transform: rotate(1080deg);
  }
}

nav {
  margin: 0.5em 0 3em;
  font-size: 1.2em;
}

.menu__list {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  display: block;
  margin: 1em 0;
  margin: 0 0.5em;
}

.menu__link,
.reset {
  font-family: "Lato";
  font-weight: 300;
  font-size: 1em;
  display: block;
  padding: 0.5em 1em;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  text-align: center;
  color: #f4e96b;
  background: none;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s;
}

.menu__link:hover,
.menu__link:focus,
.reset:hover,
.reset:focus {
  outline: none;
  color: #eb4e89;
}

.menu__item--current .menu__link {
  color: #77d6e2;
}

.menu__link:before,
.menu__link:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  opacity: 0;
  border: 2px solid #eb4e89;
  transition: transform 0.3s, opacity 0.3s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
}

.menu__link:before {
  top: 0;
  left: 0;
  border-width: 2px 0 0 2px;
  transform: translate3d(10px, 10px, 0);
}

.menu__link:after {
  right: 0;
  bottom: 0;
  border-width: 0 2px 2px 0;
  transform: translate3d(-10px, -10px, 0);
}

.menu__item--current .menu__link:before,
.menu__item--current .menu__link:after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

footer {
  margin: 3em 0 1em;
}

.reset {
  border: solid 2px #eb4e89;
  border-radius: 6px;
  margin: 0 auto;
}
